/* .NavLinks {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
}

.NavLinks a{
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
}

.NavLinks a:hover,
.NavLinks a:active,
.NavLinks a.active{
    background-color:#8f5c2c ;
    border-bottom: 4px solid #40a4c8;
    color: white;
} */



/* ------------------------------------- Media queries ---------------------- */
.NavLinks {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
   
}

.NavLinks a{
    color: #8f5c2c;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavLinks a:hover,
.NavLinks a:active,
.NavLinks a.active{
   
    color: #40a4c8;
}







@media (min-width:500px) {
    .NavLinks {
        margin: 0;
      
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavLinks a{
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
     
    }
    
    .NavLinks a:hover,
    .NavLinks a:active,
    .NavLinks a.active{
        background-color:#8f5c2c ;
        border-bottom: 4px solid #40a4c8;
        color: white;
    }
    
}

